html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.welcome-container {
  
  font-family: Arial, sans-serif;
  text-align: center;
  color: #003c2d;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.welcome-container .tagline {
  font-size: 10px;
  color: #000;
  text-align: right;
  padding-right: 10px; /* Optional spacing from the edge */
  width: 100%; /* Ensure it spans full width */
}

/*.header {
  background-color: #00e3cc;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}*/

.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-sizing: border-box;
}

.logo {
  height: 50px;
  margin-right: 50px;
}


.background-image {
  background-image: url("../assets/background.jpg"); /* Adjust if needed */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*.overlay-card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  max-width: 80%;
}*/

.overlay-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
  align-items: center;
}



.date-time {
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-text {
  font-size: 6vwm;
  margin: 10px 0;
  font-weight: 1000;
}

.signin-button {
  display: inline-block;
  margin-top: 50px;
  padding: 2vh 4vw;
  background-color: #004b3e;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
}
